<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lexed.carmanager.database.mapping.CarMapper" >
  <resultMap id="BaseResultMap" type="com.lexed.carmanager.database.pojo.Car" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="cnumber" property="cnumber" jdbcType="VARCHAR" />
    <result column="ctype" property="ctype" jdbcType="VARCHAR" />
    <result column="make" property="make" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="did" property="did" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, cnumber, ctype, make, model, color, did
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from car
  </select>  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lexed.carmanager.database.pojo.Car" >
    insert into car (Id, cnumber, ctype, 
      make, model, color, 
      did)
    values (#{id,jdbcType=INTEGER}, #{cnumber,jdbcType=VARCHAR}, #{ctype,jdbcType=VARCHAR}, 
      #{make,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, 
      #{did,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lexed.carmanager.database.pojo.Car" >
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="cnumber != null" >
        cnumber,
      </if>
      <if test="ctype != null" >
        ctype,
      </if>
      <if test="make != null" >
        make,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="did != null" >
        did,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cnumber != null" >
        #{cnumber,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="make != null" >
        #{make,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lexed.carmanager.database.pojo.Car" >
    update car
    <set >
      <if test="cnumber != null" >
        cnumber = #{cnumber,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        ctype = #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="make != null" >
        make = #{make,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="did != null" >
        did = #{did,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lexed.carmanager.database.pojo.Car" >
    update car
    set cnumber = #{cnumber,jdbcType=VARCHAR},
      ctype = #{ctype,jdbcType=VARCHAR},
      make = #{make,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      did = #{did,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>