<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lexed.carmanager.database.mapping.DriverstatusMapper" >
  <resultMap id="BaseResultMap" type="com.lexed.carmanager.database.pojo.Driverstatus" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="dstatusnum" property="dstatusnum" jdbcType="INTEGER" />
    <result column="driverinfo" property="driverinfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, dstatusnum, driverinfo
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from driverstatus
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from driverstatus
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from driverstatus
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lexed.carmanager.database.pojo.Driverstatus" >
    insert into driverstatus (Id, dstatusnum, driverinfo
      )
    values (#{id,jdbcType=INTEGER}, #{dstatusnum,jdbcType=INTEGER}, #{driverinfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lexed.carmanager.database.pojo.Driverstatus" >
    insert into driverstatus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="dstatusnum != null" >
        dstatusnum,
      </if>
      <if test="driverinfo != null" >
        driverinfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dstatusnum != null" >
        #{dstatusnum,jdbcType=INTEGER},
      </if>
      <if test="driverinfo != null" >
        #{driverinfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lexed.carmanager.database.pojo.Driverstatus" >
    update driverstatus
    <set >
      <if test="dstatusnum != null" >
        dstatusnum = #{dstatusnum,jdbcType=INTEGER},
      </if>
      <if test="driverinfo != null" >
        driverinfo = #{driverinfo,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lexed.carmanager.database.pojo.Driverstatus" >
    update driverstatus
    set dstatusnum = #{dstatusnum,jdbcType=INTEGER},
      driverinfo = #{driverinfo,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>